<!DOCTYPE css>
html {
	cursor: crosshair;
}

body {
   background: url("blackbackground.jpg") no-repeat;
   background-color: black;
}

@font-face {
  font-family: Lato;
   font-src: url(lato/lato-hairline.ttf);
}

/*HEADER SECTION*/

.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
    z-index: 10;
}
table#header {
   font-family: lato;
   font-weight: thin;
   color: white;
   background-color: black 0.4;
}
div#navigation th#headerright {
   font-family: lato;
   text-transform: uppercase;
   margin-top: 1em;
   padding: 1em;
   font-weight: bold; 
   font-size: large; 
   color: white;
   margin-left: auto;
   margin-right: auto;
   font-weight: thin;
}
div#navigation th#headerleft {
   font-family: lato;
   text-transform: uppercase;
   margin-top: 1em;
   margin-left: 6em;
   padding: 1em;
   font-weight: bold; 
   font-size: large; 
   color: white;
   font-weight: thin;
}

div#navigation a:visited{ 
   margin: 0; 
   padding: 1em; 
   color: white;
} 

div#navigation a {
    color: white;
    text-decoration: none;
    border-color: black;
   -webkit-transition-property: color;
   -webkit-transition-duration: 0.4s;
   -webkit-transition-timing-function: linear;
   -webkit-transition-delay: 0.1s;
}

div#navigation a:hover{ 
   color: red;
} 

div#navigation th#headercenter {
      max-width: 70%;
      border-bottom: solid white 2px;
      border-left: double white 10px;
      border-right: double white 10px;
      font-weight: thin;
      font-size: 40px;
      padding-left: 1em;
      padding-right: 1em;
}

#headercenter {
  font-size: fill;
  width: 50%;
   -webkit-transition-property: width;
   -webkit-transition-duration: 0.4s;
   -webkit-transition-timing-function: linear;
   -webkit-transition-delay: 0.1s;

}

#headercenter:hover{
  font-size: fill;
  width: 70%;
}
  
/*END HEADER SECTION*/



/*LEFT PREVIEW SECTION*/
.left {
    position:absolute;
    padding-top: 10em;
    padding-left: 5em;
    padding-bottom: 10em;
    width: 17em;
    text-align: left;
    color: white;
    font-family: lato;
}
.left p#date {
   font-family: lato;
   font-size: 18px;
   border-top: white solid 0.1em;
}
.left p#descrip {
   font-family: lato;
   font-size: 12px;
   padding-left: 0em;
}
div#intro img {
   float: left;
   padding-top: 0.2em;
   padding-right: 0.5em;
}

.left img{
  opacity: 1;
   -webkit-transition-property: opacity;
   -webkit-transition-duration: 0.4s;
   -webkit-transition-timing-function: linear;
   -webkit-transition-delay: 0.1s;
}

.left img:hover {
  opacity: 0.5;
}
/*END LEFT PREVIEW SECTION*/




/*MAIN SECTION*/
.main {
    position: absolute;
    margin-left: 24em;
    margin-top: 10em;
    color:white;
    padding-bottom: 10em;
    padding-left: 0.5em;
    border-left: white solid 0.1em;
}
.main p#date {
   font-family: lato;
   font-size: 18px;
   padding-left: 0.2em;
}
.main p#blogtext {
   color:white;
   font-family: lato;
   font-size: 13px;
   width: 80%;
   padding-top: 0.3em;
}
div#blogpost img {
   float: left;
   padding: 0.5em;
}

.main img{
  opacity: 1;
   -webkit-transition-property: opacity;
   -webkit-transition-duration: 0.4s;
   -webkit-transition-timing-function: linear;
   -webkit-transition-delay: 0.1s;
}

.main img:hover {
  opacity: 0.5;
}
/*END MAIN SECTION*/




/*FOOTER*/
footer {
   display: block;
   width: 100%;
   position: fixed;
   left: 0px;
   bottom: 0px;
   height:80px;
   width: 100%;
   color: white;
   background-color: black;
   padding-top: 1em;
   padding-left: 1em;
   font-family: lato;
   vertical-align: center
   }

form#search {
   text-align: right;
   color: white;
   padding-right: 15em;
   margin-top: -2em;
   font-family: lato;
}   

li{
   width:155px;
   display:inline;
   padding-right: 1em;
   color: white;
   font-size: 12px;
   vertical-align: center;
}

div#footer input{
  padding-top: 0em;
  background: white;
  -webkit-transition: background 15s linear 0.2s;
  width: 10%;
  -webkit-transition: width 2s ease;

}

div#footer input:hover {
  background: yellow;
  width: 20%;
}

div#footer ul {
   padding-left: 4em;
}

.footer img{
  height: 35px;
   -webkit-transition-property: height;
   -webkit-transition-duration: 0.1s;
   -webkit-transition-timing-function: linear;
   -webkit-transition-delay: 0s;
   width: 35px;
   -webkit-transition: width 0.1s linear 0s;
}

.footer img:hover {
  height: 40px;
  width: 40px;
}