<!DOCTYPE css>
html {
	cursor: crosshair;
}

body {
   background: url("blackbackground.jpg") no-repeat;
   background-color: black;
}

/*HEADER SECTION*/

.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
table#header {
   font-family: lato;
   font-weight: thin;
   color: white;
   background-color: black 0.4;
   text-decoration: none;
}
div#navigation th#headerright {
   font-family: lato;
   text-transform: uppercase;
   margin-top: 1em;
   padding: 1em;
   font-weight: bold; 
   font-size: large; 
   color: white;
   margin-left: auto;
   margin-right: auto;
   text-decoration: underline;
   font-weight: thin;
}
div#navigation th#headerleft {
   font-family: lato;
   text-transform: uppercase;
   margin-top: 1em;
   margin-left: 6em;
   padding: 1em;
   font-weight: bold; 
   font-size: large; 
   color: white;
   text-decoration: underline;
   font-weight: thin;
}
div#navigation a:link { 
   margin: 0;  
   color: white;
   text-decoration: none;

} 
div#navigation a:visited{ 
   margin: 0; 
   padding: 1em; 
   color: white;
   text-decoration: none;
} 

div#navigation th#headercenter {
      font-size: 30px;
      max-width: 50%;
      border-bottom: solid white 2px;
      border-left: double white 10px;
      border-right: double white 10px;
      font-weight: thin;
}
div#intro a:link {
   color: red;
}   
div#intro a:hover {
   color: white;
}   
div#intro a:visited {
   color: white;
}   
/*END HEADER SECTION*/



/*LEFT PREVIEW SECTION*/
.left {
    position:absolute;
    padding-top: 10em;
    padding-left: 5em;
    padding-bottom: 10em;
    width: 17em;
    text-align: left;
    color: white;
    font-family: lato;
}
.left p#date {
   font-family: lato;
   font-size: 18px;
   border-top: white solid 0.1em;
}
.left p#descrip {
   font-family: lato;
   font-size: 12px;
   padding-left: 0em;
}
div#intro img {
   float: left;
   padding-top: 0.2em;
   padding-right: 0.5em;
}
/*END LEFT PREVIEW SECTION*/




/*MAIN SECTION*/
.main {
    position: absolute;
    margin-left: 24em;
    margin-top: 10em;
    color:white;
    padding-bottom: 10em;
    padding-left: 0.5em;
    border-left: white solid 0.1em;
}
.main p#date {
   font-family: lato;
   font-size: 18px;
   padding-left: 0.2em;
}
.main p#blogtext {
   color:white;
   font-family: lato;
   font-size: 13px;
   width: 80%;
   padding-top: 0.3em;
}
div#blogpost img {
   float: left;
   padding: 0.5em;
}

/*END MAIN SECTION*/




/*FOOTER*/
footer {
   display: block;
   width: 100%;
   position: fixed;
   left: 0px;
   bottom: 0px;
   height:80px;
   width: 100%;
   color: white;
   background-color: black;
   padding-top: 0em;
   padding-left: 1em;
   font-family: lato;
   }

form#search {
   text-align: right;
   color: white;
   padding-right: 15em;
   margin-top: -2em;
   font-family: lato;
}   

div#footer li{
   width:155px;
   display:inline;
   padding-right: 1em;
   color: white;
   font-size: 12px;
   vertical-align: center;
}

div#footer ul {
   padding-left: 4em;
}